#About {

    height: 100vh;
    padding: 8rem 0;

    @media (max-width: 768px) {
        height: auto;
    }

    .container {
        display: flex;
        height: 100%;
        align-items: center;

        @media (max-width: 768px) {
            display: block;
        }

    }

    img {
        width: 100%;
    }

    .about-content {
        align-items: center;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        justify-content: center;
        gap: 4rem;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            gap: 0;
        }
    }


    .text-side {
        animation-delay: .1s;
    }

    .img-side,
    .text-side {
        display: flex;
        flex-direction: column;
        animation: slide-bottom 1s ease-in both;

        @media (max-width: 768px) {
            display: block;
        }
    }

    .profile {
        width: 100%;

        @media (max-width: 768px) {
            margin-bottom: 4rem;
        }
    }

    .signature {
        width: 150px;
    }

    p,
    h2,
    h4 {
        margin-bottom: 2rem;
    }
}